@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a:any-link{
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;
    gap:  var(--main-paddings);
    background-color: #f4f5f7;
    width: 100vw;
    overflow-x: hidden;
    --main-paddings: 20px;
    --main-content-paddings: 0px;
}
body::-webkit-scrollbar{
    width: 0;
}

header{
    padding: 0 var(--main-paddings);
}
header, section{
    background-color: #fff;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.self-actions .profile{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}
.self-actions .profile p{
    color: #000;
    font-weight: 500;
    height: 1.2em;
}
.self-actions .notifications{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #65676B;
}

header nav.phone{
    z-index: 1;
    display: none;
    position: absolute;
    right: calc(var(--main-paddings) + 10px);
    top: calc(var(--main-paddings) + 10px);

    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 #00000030 ;

    width: calc(100vw - var(--main-paddings)*2 - 20px);
    max-width: 500px;
}

header nav.phone .self-actions{
    border-radius: 20px 20px 0 0;
    padding: 40px;
    background-color: #e3e6e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav.phone .self-actions .profile-picture{
    height: 45px;
}
header nav.phone .self-actions .notifications{
    height: 30px;
}
header nav.phone .menu-content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
header nav.phone .menu-content a{
    padding: 20px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    transition-duration: .2s;
}
header nav.phone .menu-content a:hover{
    background-color: #e3e6e9;
}

header #burger-menu:hover ~ nav.phone, nav.phone:hover{
    display: flex;
    flex-direction: column;
}


#main-content{
    width: 100vw;
    padding: var(--main-content-paddings);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#main-content section{
    padding: 0 var(--main-paddings);
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}


#main-content .write-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#main-content .write-comment .input-space{
    margin-right: -24px; /* 24px = width of the image in the placeholder */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#main-content .write-comment input{
    width: calc(100vw - 2*var(--main-paddings) - 2*var(--main-content-paddings) - 20px - 30px);
    text-overflow: ellipsis;
    padding: 15px 33% 15px 20px;
    border: 1px solid #0003;
    border-radius: 5px;
    font-size: 0.9em;
}
#main-content .write-comment .image-placeholder{
    position: relative;
    left: -44px;
}


.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.post .head .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.post .head .profile .profile-name{
    font-weight: 700;
}
.post .head .profile .time{
    color: #65676B;
}
.post .foot{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.post .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.post .content img{
    width: calc(100% + 2*var(--main-paddings));
    height: 240px;
    object-fit: cover;
}

.post .interaction{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #65676B;
    border: 1px solid #0003;
    border-radius: 5px;
    padding: 7px 14px;
}

.links-suggestion-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}

section.links-suggestion{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px var(--main-paddings);
}
section.links-suggestion h5{
    color: #65676B;
    font-size: 1em;
}
section.links-suggestion ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section.links-suggestion ul li{
    list-style-type: none;
}
section.links-suggestion ul li .title{
    font-weight: 700;
}
section.links-suggestion ul li .foot{
    width: 100%;
    color: #65676B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
section.links-suggestion a.open-window{
    text-decoration: underline #f9690e;
    color: #f9690e;
    font-weight: 600;
}

section.links-suggestion ul.single-lines li{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    color: #65676B;
}


#main-content section.live{
    padding: 0;
    width: 100%;
    height: 300px;
}
.live img.background-live{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.live .over-live{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -4px;
    top: -300px;
    padding: 20px;
    background: linear-gradient(to top, #000f 0, #0002 40%, #0000 50%);
    color: #fff;
}
.live .over-live .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.live .over-live .head .live-button{
    background-color: #ec6580;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .7em;
    font-weight: 500;
}
.live .over-live .head .live-watches{
    background-color: #9c969c;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .7em;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.live .over-live .foot{
    width: 66%;
    font-weight: 600;
    font-size: 1em;
}



footer{
    margin: 0;
    padding: 20px;
    width: 100vw;
    text-align: center;
}



/* phone display */
@media screen and (max-width: 640px){
    .tablet:not(.phone), .computer:not(.phone){
        display: none;
    }

}

/* tablet display */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .phone:not(.tablet), .computer:not(.tablet){
        display: none;
    }
    body{
        --main-content-paddings: 30px;
    }
    body #main-content section, #main-content section.live img.background-live, #main-content section.live .over-live{
        border-radius: 7px;
    }
    #main-content div.links-suggestion-container{
        flex-direction: row;
    }
}

@media screen and (min-width: 1025px){
    .phone:not(.computer), .tablet:not(.computer){
        display: none;
    }
    
    body{
        --main-content-paddings: 100px;
    }

    header{
        padding-left: var(--main-content-paddings);
        padding-right: var(--main-content-paddings);
    }
    header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    header nav a:any-link{
        color: #65676B;
        transition-duration: .2s;
    }
    header nav a:hover{
        color: #000;
    }
    header .self-actions{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }


    #main-content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: calc(var(--main-content-paddings)/3);
        padding-bottom: calc(var(--main-content-paddings)/3);
    }
    #main-content > #left, #main-content > #right {
        width: 25%;
    }
    #main-content > #center-computer {
        width: 50%;
    }
    body #main-content section, #main-content section.live img.background-live, #main-content section.live .over-live{
        border-radius: 7px;
    }
    #main-content .write-comment input{
        width: calc((100vw - 2*var(--main-paddings) - 2*var(--main-content-paddings)) /2 - 90px);
    }
}