@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a:any-link{
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;
    gap:  var(--main-paddings);
    background-color: #f4f5f7;
    width: 100vw;
    /* overflow-x: hidden; */
    --main-paddings: 20px;
}
body::-webkit-scrollbar{
    width: 0;
}

header, footer{
    padding: 0 var(--main-paddings);
}
header, footer, section{
    background-color: #fff;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.self-actions .profile{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.self-actions .profile p{
    color: #000;
    font-weight: 500;
    height: 1.2em;
}
.self-actions .notifications{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #0005;
}

header nav.phone{
    display: none;
    position: absolute;
    right: calc(var(--main-paddings) + 10px);
    top: calc(var(--main-paddings) + 10px);

    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 #00000030 ;

    width: calc(100vw - var(--main-paddings)*2 - 20px);
    max-width: 500px;
}

header nav.phone .self-actions{
    border-radius: 20px 20px 0 0;
    padding: 40px;
    background-color: #e3e6e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav.phone .self-actions .profile-picture{
    height: 45px;
}
header nav.phone .self-actions .notifications{
    height: 30px;
}
header nav.phone .menu-content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
header nav.phone .menu-content a{
    padding: 20px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    transition-duration: .2s;
}
header nav.phone .menu-content a:hover{
    background-color: #e3e6e9;
}

header #burger-menu:hover ~ nav.phone, nav.phone:hover{
    display: flex;
    flex-direction: column;
}


#main-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#main-content section{
    padding: 0 var(--main-paddings);
    width: 100%;
    margin-bottom: 50px;
}


#main-content .write-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#main-content .write-comment .input-space{
    margin-right: -24px; /* 24px = width of the image in the placeholder */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#main-content .write-comment input{
    width: calc(100vw - 2*var(--main-paddings) - 20px - 30px);
    text-overflow: ellipsis;
    padding: 15px 33% 15px 20px;
    border: 1px solid #0003;
    border-radius: 5px;
    font-size: 0.9em;
}
#main-content .write-comment .image-placeholder{
    position: relative;
    left: -44px;
}


.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
}





/* phone display */
@media screen and (max-width: 640px){
    .tablet:not(.phone), .computer:not(.phone){
        display: none;
    }
}

/* tablet display */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .phone:not(.tablet), .computer:not(.tablet){
        display: none;
    }
}

@media screen and (min-width: 1025px){
    .phone:not(.computer), .tablet:not(.computer){
        display: none;
    }
}